{% extends "base.html" %}
{% block content %}

<div id="menu">
{% if es_cliente %}
    <ul>
    <li><a href="{% url "consulta_deuda" %}">Consultar Saldos Pendientes</a></li>
    <li><a href="{% url "consulta_ultimos" %}">Consultar Ultimos Movimientos</a></li>
    <li><a >Descargar Cup&oacute;n</a></li>
    </ul>
{% else %}
<ul>
    <li><a href="{% url "menu_usr"%}">Menu Clientes</a></li>
    <li><a href="{% url "menu_ctacte"%}">Menu Cuentas Corrientes</a></li>
    
</ul>
{% endif %}

</div>

{% endblock %}