{% extends "base.html" %}
{% block content %}
<h3>Crear Nuevo Usuario</h3>
<hr />
<form action="" method="post">{% csrf_token %}
<table cellpadding="5" cellspacing="3">

    <tr>
        <td>Nombre de Usuario</td>
        <td>{{ form.username }}</td>
        <td>{{ form.username.errors }}</td>
    </tr>
     <tr>
        <td>Nombre</td>
        <td>{{ form.first_name }}</td>
        <td>{{ form.first_name.errors }}</td>
    </tr>
     <tr>
        <td>N&uacute;mero de Inquilino</td>
        <td>{{ form.nro_inquilino }}</td>
        <td>{{ form.nro_inquilino.errors }}</td>
    </tr>
    <tr>
        <td>Tipo de Usuario</td>
        <td>{{ form.tipoUsr }}</td>
        <td>{{ form.tipoUsr.errors }}</td>
    </tr>
</table>
    <br />

<input type="submit" value="Guardar"  class="boton"/>
</form>

{% endblock %}