{% extends "base.html" %}
{% block content %}
<h1>Menu Cuentas Corrientes</h1>
    <li><a href="{% url "nuevo_movimiento"%}">Crear nuevo Movimiento</a></li>
<h2>Listado</h2>
<ul>
    
    {% for cc in ctactes %}
    <li>
    {{cc.inquilino}}  |  {{ cc.detalle }} | {{cc.fecha}} |
    <a href="{% url "ctacte_detalle" pk=cc.pk %}"> Detalle   </a>|
    <a href="{% url "ctacte_update" pk=cc.pk %}">Modificar </a>|
    <a href="{% url "ctacte_delete" pk=cc.pk %}"> Eliminar </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}